{% extends 'base.html' %}
{% block title %} INSERIR NOME DO PRODUTO AQUI {% endblock %}
{% block cabeca %} INSERIR NOME DO PRODUTO AQUI {% endblock %}
{% block content %}
<div class="container-fluid col-lg-12">
    
    <div>
        <span class="text-lg text-gray-700">Modelo:</span>
        <div class="row col-md-6 card-body card border-left-secondary">
            <span class="text-gray-600 text-lg" style="text-align: center;">Mouse USB xpto</span>
        </div>
    </div>
    <br>
    <div>
        <span class="text-lg text-gray-700">Tipo:</span>
        <div class="row col-md-6 card-body card border-left-secondary">
            <span class="text-gray-600 text-lg" style="text-align: center;">Mouse</span>
        </div>
    </div>
    <br>    
    <div>
        <span class="text-lg text-gray-700">Fabricante:</span>
        <div class="row col-md-6 card-body card border-left-secondary">
            <span class="text-gray-600 text-lg" style="text-align: center;">Logitech</span>
        </div>
    </div>
    <br>
    <div>
        <span class="text-lg text-gray-700">Estoque:</span>
        <div class="row col-md-3 card-body card border-left-secondary">
            <span class="text-gray-600 text-lg" style="text-align: center;">5</span>
        </div>
    </div>
    <br>
    <br>
    <div>
        <div class="row col-md-3 btn btn-secondary btn-lg">
            <a class="text-gray-100 text-lg" style="text-align: center;">Editar</a>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
</div>
{% endblock %}