{% extends 'base.html' %}
{% block title %}Listagem de Produtos{% endblock %}
{% block cabeca %}Listagem de Produtos{% endblock %}
{% block content %}
    <div class="col-md-12">
        <ul class="list-group list-group-flush col-md-8 col-lg-12">
            <li class="list-group-item list-group-item2-action ">
                <a href="exibeproduto" style="text-decoration: none;">
                    <span><i class="fas fa-barcode text-gray-900" style="margin-right: 1rem;"></i></span>
                    <span class="text-gray-900">Produto 1</span>
                </a>
            </li>
            <li class="list-group-item list-group-item2-action ">
                <a href="exibeproduto" style="text-decoration: none;">
                    <span><i class="fas fa-barcode text-gray-900" style="margin-right: 1rem;"></i></span>
                    <span class="text-gray-900">Produto 2</span>
                </a>
            </li>
            <li class="list-group-item list-group-item2-action ">
                <a href="exibeproduto" style="text-decoration: none;">
                    <span><i class="fas fa-barcode text-gray-900" style="margin-right: 1rem;"></i></span>
                    <span class="text-gray-900">Produto 3</span>
                </a>
            </li>
            <li class="list-group-item list-group-item2-action ">
                <a href="exibeproduto" style="text-decoration: none;">
                    <span><i class="fas fa-barcode text-gray-900" style="margin-right: 1rem;"></i></span>
                    <span class="text-gray-900">Produto 4</span>
                </a>
            </li>
            <li class="list-group-item list-group-item2-action ">
                <a href="exibeproduto" style="text-decoration: none;">
                    <span><i class="fas fa-barcode text-gray-900" style="margin-right: 1rem;"></i></span>
                    <span class="text-gray-900">Produto 5</span>
                </a>
            </li>
        </ul>
    </div>
{% endblock %}