{% extends 'base.html' %}
{% block title %}Listagem de Produtos{% endblock %}
{% block cabeca %}Listagem de Produtos{% endblock %}
{% block content %}

    <div class="col-md-12">

        <!-- Mensagem de retorno para o usuario-->
        <ul class='messages' style="list-style: none;">
            {% for message in messages %}
            <li {% if message.tags %}class="alert alert-{{message.tags}} alert-dismissible"{% endif %}>
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{message}}
            </li>
            {% endfor %}
        </ul>

        <!-- Lista de produtos-->
        <ul class="list-group list-group-flush col-md-8 col-lg-12">
            {% for prod in prods %}
            <li class="list-group-item list-group-item2-action ">
                <a href="/exibeproduto/{{prod.id}}" style="text-decoration: none;">
                    <span><i class="fas fa-barcode text-gray-900" style="margin-right: 1rem;"></i></span>
                    <span class="text-gray-900">{{prod.modelo}}</span>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}