{% extends 'base.html' %}
{% block title %}Listagem de Produtos{% endblock %}
{% block cabeca %}Listagem de Produtos{% endblock %}
{% block content %}

    <div class="col-md-12">

        <!-- Mensagem de retorno para o usuario-->
        <ul class='messages' style="list-style: none;">
            {% for message in messages %}
            <li {% if message.tags %}class="alert alert-{{message.tags}} alert-dismissible"{% endif %}>
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{message}}
            </li>
            {% endfor %}
        </ul>
        <br>
    </div>
        <!-- Teste com tabelas-->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-secondary">DataTables Example</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table id="example" class="table table-hover" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th class="text-gray-800 bg-gray-100">Nome</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for prod in prods %}
                            <tr>
                                <td>
                                    <a href="/exibeproduto/{{prod.id}}" style="text-decoration: none;" class="text-gray-800">{{ prod.modelo }}</a>
                                </td>     
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        <br>
    </div>
{% endblock %}